# Database
DATABASE_URL="postgresql://cibiti:cibiti@localhost:5432/cibiti?schema=public"

# Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="dev-secret-change-me-in-production-0123456789abcdef"
